@model POS.Domain.ViewModels.DepartmentModelList

@{
    ViewBag.Title = "Listing Departments";
    Layout = null;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Manage Department</h1>
            </div>
            <div class="col-sm-6">
                <button type="button" id="btnAddNew" class=" btn btn-block btn-primary  float-sm-right btnAddNew">Add</button>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped projects customTbl scrollWrapTbl listingTbl">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.departmentModelList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Department_Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                        <td><a href="#" class="lnkEdit" data-para="@item.Department_ID"><i class="fa fa-fw fa-edit"></i></a> | <a href="#" class="lnkDelete" data-para="@item.Department_ID"><i class="fa fa-fw fa-trash"></i></a></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="ppcreate"></div>
<script src="~/plugins/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>

<partial name="_ActionScriptsPartial" view-data="@ViewData"></partial>